version: 0.1.{build}

stack: node 9

#branches:
#  only:
#    - master
#    - dev

image:
  - ubuntu

platform:
  - x64

init:
  - node --version

install:
  - ps: |
        if (!$isLinux) {
          Install-Product node 9 x64
        }
  - git reset --hard HEAD
  - yarn

build_script:
  - cmd: yarn build
#  - sh: yarn build
  - sh: node .electron-vue/build.js

test: off
